flask==2.3.2
click
colorama
ftputil
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy
pyodbc==4.0.32
python-dateutil
pytz
six
Werkzeug
PyYAML
sqlalchemy==1.4.50 
flask-sqlalchemy==2.5.1
flask-mysql
requests
Flask-APScheduler