<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
</head>
<body>
    <span style="color: green;">{{ws}}</span>
    <form action="/abb/model" method="POST">
        <label for="fname">Serial:</label><br>
        <input type="text" id="serial" name="serial" value=""><br>
        <label for="lname">Model:</label><br>
        <input type="text" id="model" name="model" value=""><br><br>
        <input type="submit" value="Submit">
      </form> 
      
</body>
</html>